.sectionContainer{
    margin-top: 160px;
    padding-bottom: 160px;
    background-image: url("/vector/Vector-1.png"), url("/dots.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -300px 150px, calc(100% + 75px) calc(100% - 150px);
}
.headingCenter{
    text-align: center;
}
.headingCenter h2{
    font-size: 36px;
    margin-bottom: 61px;
}
.headingCenter p{
    font-size: 18px;
    max-width: 70%;
    margin: auto;
    color: #7D7987;
    font-weight: 300;
}
.cardList{
    background-image: url("/dots.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 150px) center;
    padding: 80px 0px;
    display: grid;
    gap: 36px;
    justify-content: center;
    grid-template-columns: auto auto auto;
    margin: auto;
}
.card{
    width: fit-content;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}
.card .cardDesc{
    max-width: 266px;
    color: #7D7987; 
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 20px;
}
.card .cardImage{
    /* margin: 54px 0px; */
    margin-bottom: 20px;
}
.learnMoreBtn, .box1 .right button{
    display: block;
    margin: auto;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #458FF6;
    color: #458FF6;
    background-color: transparent;
    border-radius: 50px;
    width: 200px;
    line-height: 60px;
    cursor: pointer;
    transition: 0.2s linear;
    margin-bottom: 180px;
}
.learnMoreBtn:hover, .box1 .right button:hover{
    background-color: #458FF6;
    color: white;
}
.box1 .right button{
    margin-left: 0px;
}
.box1{
    /* background-image: url("/image-2.png");
    background-repeat: no-repeat;
    background-position: 150px 0px; */
    display: flex;
    gap: 100px;
    justify-content: left;
}
.boxImage{
    height: fit-content;
}
.box1 .right{
    max-width: 450px;
}
.box1 .right h3{
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 60px;
}
.box1 .right p{
    max-width: 450px;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    margin-bottom: 40px;
}
@media only screen and (max-width: 1230px) {
    .cardList{
        grid-template-columns: auto auto ;
    }
    .box1{
        padding-left: 50px;
        gap: 50px;
    }
    .boxImage{
        width: 500px;
    }
}
@media only screen and (max-width: 946px) {
    .box1{
        flex-direction: column;
        align-items: center;
    }
    .box1 .right{
        text-align: center;
    }
    .box1 .right button{
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width:742px){
    .cardList{
        grid-template-columns: auto  ;
    }
}