.header{
    padding-top: 32px;
    width: 100vw;
    color:  #233348;
    /* border: 1px solid #233348; */
    background-image: url("/dots.svg");
    background-repeat: no-repeat;
    background-position: -50px 166px;
}
.mainContainer{
    min-height: 100%;
    /* background-image: url("/image-1.png");
    background-position: right bottom;
    background-repeat: no-repeat; */
}
.navbar{
    width: 100%;
    max-width: 1382px;
    padding-left: 166px;
    padding-right: 50px;
    display: flex;
}
.logoContainer{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-grow: 1;
}
.logo{
    border-radius: 50%;
    width: 41px;
    height: 41px;
    background-color: #458FF6;;
    color: white;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.linksContainer{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin-right: 10px;
}
.heroContainer{
    width: 90vw;
    padding-left: 166px;
    display: flex;
    gap: 100px;
}
.box1{
    padding-top: 186px;
    width: 426px;
}

.box1 h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 25px;
}
.box1 p{
    margin-bottom: 45px;
    color: #7D7987;
    line-height: 32px;
    font-size: 21px;
}
.box1 button{
    width: 200px;
    height: 56px;
    border-radius: 30px;
    border: none;
    background-color: #458FF6;
    color: white;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
@media only screen and (max-width: 1230px) {
    .navbar{
        padding-left: 50px;
    }
    .heroContainer{
        width: 100vw;
        flex-direction: column-reverse;
        padding-left: 0px;
    }
    .box1{
        padding-top: 0px;
        margin: auto;
        text-align: center;
    }
    .box1 button{
        margin-left: auto;
        margin-right: auto;
    }
    .image1{
        width: 80%;
        max-width: 600px;
        margin: auto;
    }
}
@media only screen and (max-width:890px){
    .linksContainer{
        display: none;
    }
}
